<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="2.0"
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="com.example.greenandblue"
    platformBuildVersionCode="32"
    platformBuildVersionName="12">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="32" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@ref/0x7f1101f4"
        android:label="@ref/0x7f10001c"
        android:icon="@ref/0x7f0d0000"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:fullBackupContent="@ref/0x7f130000"
        android:roundIcon="@ref/0x7f0d0001"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@ref/0x7f130001">

        <activity
            android:name="com.example.greenandblue.Manual_IngredientActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.CholeBhatureActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.PrawnNoodlesActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.Customer_infoActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.MyFoodCartActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.FriedRiceActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.SignupActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.HomeActivity"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <activity
            android:name="com.example.greenandblue.MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="@string/0x15" />
        </activity>

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.example.greenandblue.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f090008" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.example.greenandblue.androidx-startup">

            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
